---
import Layout from '../layouts/Layout.astro';
---

<Layout   title=""
description=""
keywords=""
canonicalURL="https://example.com/404"
robots="noindex, follow">
	<main>

	</main>
</Layout>

<style>
	
</style>