---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="POW! - the privacy-first menstrual cycle journal"
	description="Take charge of your menstrual cycle! Get to know your cycle, using your own words, in private 🔐"
	keywords="Astro themes, astro web framework, astro website, astro web project, astro web app, astro javascript, astro js, astro web library, astro coding, astro web development"
	canonicalURL="https://astro-simple-starter.netlify.app/"
	robots="index, follow"
>
	<main class="bg-slate-100">
		<section class="max-w-xl mx-auto p-8">
			<h2>POW! - the privacy-first menstrual cycle journal</h2>
			<br />
			<h1>
				Take charge of your menstrual cycle!
			</h1>
			<br />


					<h2>Get to know your cycle, using your own words, without worrying that the data will end up in the hands of Facebook and the likes.</h2>
					<a
						href="https://my.usepow.app/signup/"
						target="_blank"
						>GET STARTED</a
					>

				<br />

					<h2>Your private data</h2>
					<br />
					<p>In February 2018, the <a href="https://www.wsj.com/articles/you-give-apps-sensitive-personal-information-then-they-tell-facebook-11550851636"
					target="_blank"
					>Wall Street Journal</a> came out with a report that popular health apps, period trackers among them, were leaking data to Facebook Analytics.

					More articles followed on the level of surveillance and the implications of these apps:

					<ul>
						<il> ➡️ It [the app] also shared "reminders" within the app to take birth control medication with Facebook (<a href="https://www.buzzfeednews.com/article/meghara/period-tracker-apps-facebook-maya-mia-fem"
							target="_blank"
							>BuzzFeed</a>
							)

						</il> ➡️ These apps then shared user information with the company so it could keep track of how many of its employees were trying to get pregnant <a href="https://www.theguardian.com/world/commentisfree/2019/sep/14/your-period-tracking-app-could-be-sharing-intimate-details-with-all-of-facebook"
						target="_blank"
						>The Guardian</a>
						)

					</ul>

					With **POW!** not even the team can read your data. Your data is locked down using encryption, and only you have the key to open it.

					</p>
				<br />

					<a
						href="https://my.usepow.app/signup/"
						target="_blank"
						>Yes to privacy</a
					>

				<br />
					<h2>Your own words</h2>
					<p>Are you anxious, angry, or sad? Are you tired, exhausted, or sleepy? Did you bleed one drop, two drops, or three drops?

						Do you feel overwhelmed when trying to name things in your cycle? It's often so very detailed and clinical.

						Our founder (@raae) has this mood "mollefonk". There is never an option for that. So inevitably, she never remembers if she logged it as anxious, PMS, angry, or...you get the point.

						_Wouldn't it be nice to use words and terminology familiar to you?_

						**POW!** solves this by letting you hashtag whatever cycle "thing" is important to you. It can be a made-up word like "mollefonk", or a more typical one like "pms".

						An entry in **POW!** will look something like this: "First day of #period. Feeling #exhausted, but still kinda #happy."
					</p> <a
						href="https://fonts.google.com/"
						target="_blank">https://fonts.google.com/</a
					>

				<br />

					-Structured metadata setup for improved SEO (see header in
					layout file)

				<br />

				<br />

					-Added 404 page: <a href="/404" target="_blank"
						>https://astro-simple-starter.netlify.app/404</a>


			<br/>
			<p class="p-4 bg-white rounded-xl border ">Github: <a href="https://github.com/Sean-93/astro-basic-starter" target="_blank">https://github.com/Sean-93/astro-basic-starter</a></p>
		</section>
	</main>
</Layout>

<style></style>
