---
import { Image } from "astro:assets";
import localPOWImage from "../images/logo.png";
import Form from "../components/NewsletterForm.astro";
import Layout from "../layouts/Layout.astro";
---

<footer class="py-1">
  <section class="max-w-xl mx-auto px-4 py-1">
    <p class="py-0 text-base font-normal">Made with ❤</p>
    <p class="py-0 text-base font-normal">
      by
      <a
        class="text-slate-600 underline-offset-1"
        href="https://x.com/raae"
        target="_blank">@raae</a
      >

      and family.
    </p>
    <br />
    <p class="py-0 text-base font-normal">Sign up for the</p>
    <a href="#" class="py-0 text-base font-normal">POW! Newsletter</a>
    <br />
    <br />
    <a
      class="py-0 text-slate-600 text-base font-normal"
      href="mailto:hello@usepow.app">hello@usepow.app</a
    >
    <p class="py-0 text-base font-normal">Tromsøgata 26,</p>
    <p class="py-0 text-base font-normal">0565 Oslo, Norway</p>
    <br />
  </section>
</footer>
