---
import { Image } from 'astro:assets';
import localPOWImage from '../images/logo.png';
---

<footer class="bg-purple-100">
    <section class="max-w-xl mx-auto p-8">
        <p>
            Get started today with<a
            href="https://my.usepow.app/signup/"
            target="_blank"><Image src={localPOWImage} alt="A logo sitting on a nest of eggs." /></a
        >



        </p>
    </section>
</footer>
<style>

</style>