---
import { Image } from 'astro:assets';
import localPOWImage from '../images/logo.png';
import Form from "../components/NewsletterForm.astro";
---

<footer class="bg-purple-100">
    <section class="max-w-xl mx-auto p-8">
        <p>Made with ❤
            by
            <a
            href="https://x.com/raae"
            target="_blank">@raae</a
        >

             and family.
        </p>
    <p>
            Sign up for the

            POW! Newsletter
        </p>
            <Form />
            <br />
        <p>
            hello@usepow.app
        </p>
    <p>
            Tromsøgata 26,
        </p>
    <p>
            0565 Oslo, Norway</p>
            <br />
        <p>
            Get started today with<a
            href="https://my.usepow.app/signup/"
            target="_blank"><Image src={localPOWImage} alt="A logo sitting on a nest of eggs." /></a
        >



        </p>
    </section>
</footer>
<style>

</style>