---

---

<nav class="bg-slate-50 p-4">
    <div class="max-w-xl mx-auto">
        <a href="/" title="POW!">
            <i class="material-icons">rocket</i>  POW!
        </a>
    </div>
    <div class="max-w-xl mx-auto">
        <a href="https://my.usepow.app/login/" title="Log In">
              Log In
        </a>
    </div>
    <div>
        <a
            href="https://my.usepow.app/signup/"
            target="_blank"
            >GET STARTED</a
        >
    </div>
</nav>
<style>

</style>