<form>
    <label for="email">E-mail</label>
    <input id="email" required type="email" name="email" />
    <label>
        <input required type="checkbox" name="terms" />
        I agree
    </label>
    <button>Sig</button>
</form>